<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>PFE1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>controllers.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreerUserServlet</display-name>
    <servlet-name>CreerUserServlet</servlet-name>
    <servlet-class>controllers.CreerUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerUserServlet</servlet-name>
    <url-pattern>/creerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AffectationServlet</display-name>
    <servlet-name>AffectationServlet</servlet-name>
    <servlet-class>controllers.AffectationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffectationServlet</servlet-name>
    <url-pattern>/affectation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientInfoServlet</display-name>
    <servlet-name>PatientInfoServlet</servlet-name>
    <servlet-class>controllers.PatientInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientInfoServlet</servlet-name>
    <url-pattern>/PatientInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HospitalisationServlet</display-name>
    <servlet-name>HospitalisationServlet</servlet-name>
    <servlet-class>controllers.HospitalisationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalisationServlet</servlet-name>
    <url-pattern>/HospitalisationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficherDossierMedicalServlet</display-name>
    <servlet-name>AfficherDossierMedicalServlet</servlet-name>
    <servlet-class>controllers.AfficherDossierMedicalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherDossierMedicalServlet</servlet-name>
    <url-pattern>/AfficherDossierMedicalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DossierMedicalServlet</display-name>
    <servlet-name>DossierMedicalServlet</servlet-name>
    <servlet-class>controllers.DossierMedicalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DossierMedicalServlet</servlet-name>
    <url-pattern>/DossierMedicalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanifierExamen</display-name>
    <servlet-name>PlanifierExamen</servlet-name>
    <servlet-class>controllers.PlanifierExamen</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PatientExamenServlet</display-name>
    <servlet-name>PatientExamenServlet</servlet-name>
    <servlet-class>controllers.PatientExamenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientExamenServlet</servlet-name>
    <url-pattern>/PatientExamenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreerHospitalisationServlet</display-name>
    <servlet-name>CreerHospitalisationServlet</servlet-name>
    <servlet-class>controllers.CreerHospitalisationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerHospitalisationServlet</servlet-name>
    <url-pattern>/CreerHospitalisationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NouvelleHospitalisationServlet</display-name>
    <servlet-name>NouvelleHospitalisationServlet</servlet-name>
    <servlet-class>controllers.NouvelleHospitalisationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NouvelleHospitalisationServlet</servlet-name>
    <url-pattern>/NouvelleHospitalisationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangerLitServlet</display-name>
    <servlet-name>ChangerLitServlet</servlet-name>
    <servlet-class>controllers.ChangerLitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangerLitServlet</servlet-name>
    <url-pattern>/ChangerLitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboardServlet</display-name>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>controllers.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/AdminDashboardServlet</url-pattern>
  </servlet-mapping>
</web-app>